body {
  background: #369;
}



header {
  /*background: #ee4433;*/
  background: linear-gradient(180deg, #ee4433, #BA3427);
  width: 100%;
  height: 100px;
  text-align: center;
}

header h1 {
  font-family: 'Fontdiner Swanky', cursive;
  padding: 26px;
  color: #FFEF87;
}

a {
  text-decoration: none;
  color : #1FCEFF;
}
.content {
  margin-bottom: 170px;
}

#add-bar {
  width: 100%;
  background: #ededed;
  text-align: center;
  border: 3px solid #999;
  border-width: 3px 0;
  padding: 17px 0 0 0;
}

#add-bar h4 {
  line-height: 0.2em;
}

.restaurant {
  background: #DBDBDB;
  border-radius: 10px 10px 0 0;
  padding: 0px;
  margin: 10px;
  border: 1px solid #999;
}

.restaurant .header {
  background: #ededed;
  height: 100px;
  margin: 0px;
  border: 0;

}

.restaurant .header h2 {
  border: 0;
  line-height: 14px;
  margin-top: 20px;
  margin-left: 10px;
}

.restaurant ul li {
  display: inline;
  list-style: none;
  margin: 3px 15px;
}

.restaurant img {
  overflow: hidden;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin: 4px;
  background: #FFEF87;
}

.restaurant .buttons {
  padding: 10px;
  text-align: center;
  margin: 0px;
  border: 0;
}

.restaurant .info {
  border: 0;

}

.submit {
  background: #00E875;
  color: #FFF;
  border: 0;
}
.cancel {
  background: #EE4433;
  color: #FFF;
  border: 0;
}

.menu {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
}
.right-border {
  border-right: 1px solid #999;
}

.items p {
  margin: 0;
}

.items .cancel {
  width: 20px;
  height: 20px;
  padding: 0;
  overflow: hidden;
  background: #EE4433;
  position: relative;
  float:left;
  right: 27px;
  top: -70px;
  display: inline;
  line-height: 0px;
  border-radius: 50%;
}
.items img {
  float: right;
  width: 60px;
  height: 60px;
  position: relative;
  top: -73px;
  right: 20px;
}

footer {
  color: #fff;
  background: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.other-items {
  margin-top: 20px;
}

.other-item {
  background: #ededed;
  border-radius: 5px;
  line-height: 90%;
  text-align: center;
  overflow: auto;
}
.other-item h5 {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 10px;
  padding:7px 7px;
  margin: 0;
}

.other-item p {
  font-size: 10px;
  margin: 0px;
}
.other-item img {
  width: 50px;
  height: 50px;
  clear: both;
  position: static;
  overflow:auto;
}
