body {
  background: #369;
}

header {
  background: linear-gradient(180deg, #ee4433, #BA3427);
  width: 100%;
  text-align: center;
  padding: 7px auto;
}

header h1 {
  font-family: 'Fontdiner Swanky', cursive;
  padding: 26px;
  color: #FFEF87;
  margin:0;
}

a {
  text-decoration: none;
  color : #1FCEFF;
}
.content {
  margin-bottom: 70px;
}

#add-bar {
  width: 100%;
  background: #ededed;
  text-align: center;
  border: 3px solid #999;
  border-width: 3px 0;
  padding: 17px 0;
}

#add-bar h4 {
  line-height: 1em;
  margin:0;
}

.restaurant {
  background: #DBDBDB;
  border-radius: 10px 10px 0 0;
  padding: 0px;
  margin: 10px;
  border: 1px solid #999;
}

.restaurant .header {
  background: #FFF;
  margin: 0px;
  border: 0;
}

.restaurant .header h2 {
  border: 0;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 2em;

}

.restaurant .buttons {
  margin: 0;
  padding: 0 5px;
}
.restaurant ul {
  margin:7px;
}

.restaurant ul li {
  display: block;
  list-style: none;
  margin: 3px 15px;
  padding: 0;
}
.image {
  overflow: hidden;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 10px;
  background: #FFEF87;
  text-align: center;
}

.restaurant img {
  height: 100%;
  margin-left: -22%
}


.restaurant .buttons {
  padding: 0 10px;
  text-align: center;
  margin: 0px;
  border: 0;
}

.restaurant .info {
  border: 0;

}

.submit {
  background: #00E875;
  color: #FFF;
  border: 0;
}
.cancel {
  background: #EE4433;
  color: #FFF;
  border: 0;
}

.menu {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
}
.right-border {
  border-right: 1px solid #999;
}

.items p {
  margin: 0 10px 0 0;
}

.items .cancel {
  width: 20px;
  height: 20px;
  padding: 0;
  overflow: hidden;
  background: #EE4433;
  position: relative;
  float:left;
  right: 27px;
  top: -70px;
  display: inline;
  line-height: 0px;
  border-radius: 50%;
}
.items .image {
  float: right;
  width: 60px;
  height: 60px;
  position: relative;
  top: -73px;
  right: 20px;
  border-radius: 50%;
  border: 1px solid #ed4433;
 }

.items img {
  height:100%;
  display:inline-block;
  margin: 0 -50%;
}

footer {
  color: #fff;
  background: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
    padding: 7px;
}

footer a {
  color: #fff;
  padding: 10px;
}
.other-items {
  margin-top: 20px;
  text-align: center;
}

.other-items h5 {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 16px;
  padding:7px 7px;
  margin: 0;
}

.other-item {
  background: #ededed;
  border-radius: 5px;
  line-height: 90%;
  text-align: center;
  overflow: auto;
  margin: 9px;
}
.other-item h5 {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 10px;
  padding:7px 7px;
  margin: 10px;
}

.other-item p,
.other-items p {
  font-size: 10px;
  margin: 0px;
}
.other-item .image {
  width: 30px;
  height: 30px;
  border: 1px solid #369;
}
.other-item img {
  height: 100%;
}

.about, .stats {
  background: #fff;
  width: 80%;
  text-align: center;
  position: fixed;
  padding:15px;
  top: 50px;
  left: 8%;
  border-radius: 15px;
}
.about img, .stats img {
  max-width: 40%;
  border-radius: 50%;
}
.dimmer {
  width: 100%;
  background: rgba(0,0,0,.5);
  position:fixed;
  top:0px;
  left: 0px;
  height: 100%; 
}

.dollar {
  float: left;
}
.price {
  float: right;
  width: 90%
}

#profit-chart {
  height: 300px;
  width: 500px;
  background: #ededed;
  display: block;
  margin: 0 auto;
}

.menu-item {
  position: relative;
}

.hover {
  line-height: 100%;
  padding: 10px;
  width: 40%;
  background: rgba(45,175,215, .9);
  color: #fff;
  text-align: center;
  position: absolute;
  top:5%;
  left: 95%;
  z-index: 5;
  border-radius: 15px;

}
.hover p, .hover h5 {
  margin: 0;
}
.hover h5 {
 font-size: 1.05em; 
}

.hover p {
 font-size: .8em; 
}